footer
    a.footer-item Copyright 2013-15 HubYard
    a.footer-space |
    a(href='/terms').footer-item Terms of Service
    a.footer-space |
    a(href='/privacy').footer-item Privacy
    a.footer-space |
    a(target='_blank' href='https://angel.co/hubyard').footer-item Investment / Jobs