extends head

block content
    .home-slide-full
        .home-center(style='position:relative; height:100%; max-width:1100px')
            .home-slide-left(style='position:relative; height:100%')
                .home-slide-full-content
                    h1 <a style='font-weight:bold'>Free</a> and <a style='font-weight:bold'>Open Source</a> <br> <a style='font-weight:bold'>Social Media Management</a> <br> for <a style='font-weight:bold; text-decoration:underline'>everyone</a>
                    .home-buttons-slide-full-x
                        a(href='/signup')
                            .button.button-join-beta Join Beta, it’s Free
                        a(href='https://github.com/HubYard/HubYard' target='_blank')
                            .button-dl-source Or help out and <div style='font-weight:bold'>download the source</div>
                        a(href='/auth/twitter')
                            .button.button-join-beta.icon-twitter or login with Twitter
            .home-slide-right(style='position:relative; height:100%')
                .home-slide-full-gif
                    .home-slide-full-gif-over
    .home-slide-mid
        .home-slide-threes
            .home-slide-three
                .home-slide-image#organizeandanalyze
                .home-slide-content Organize and analyze <br> your networks and feeds
            .home-slide-three
                .home-slide-image#monitorandmanage
                .home-slide-content Monitor and manage <br> a wide range of social networks
            .home-slide-three
                .home-slide-image#workaloneorteam
                .home-slide-content Work alone or in a team <br> we’ve got you covered
            .clear
    div(style='background:#fff')
        .border-bottom-slide
    .home-slide-large
        .home-slide-large-top
            h2 Optimized for Doers, Customized for everyone
            h4 Customize our code from our source or try us live and play with our options
        .home-slide-big-image-bottom
    .home-slide-clear
        h3 Get Started with beta and get 50% off Pro Accounts
        .home-buttons-slide-full-y
            a(href='/signup')
                .button.button-join-beta Only a few spots left, join Here!
    include footer