extends head

block content
    div(style='text-align:center; margin:20px 0px; font-weight:bold;')
        a(href='/')
            | HubYard
    .forgot-password(style='display:block')
        .forgot-password-header Enter a New Password
        .forgot-password-container
            input(type='password' placeholder='New Password')
        .button-line.new-password-submit Save Password