extends head

block content
    .term-op
        .terms-center
            h1 Terms of Service
            p By using the HubYard.com web site ("Service"), all services of HubYard, you are agreeing to be bound by the following terms and conditions ("Terms of Service"), including any subsequent changes or modifications to them. If you do not agree to these Terms or to our Privacy Policy, please do not access the HubYard website or services.
            h2 Privacy and Communications
            p You acknowledge and agree that HubYard may occasionally send you communications regarding your account or the Service via email.
            p See the Privacy Policy, which is incorporated into this Agreement by reference.
            h2 Accounts, Passwords, and Security
            p You must be a registered user to access the Service. You are responsible for keeping your password secure. You will be solely responsible and liable for any activity that occurs under your user name.
            h2 Acceptable Use and Conduct
            p You are solely responsible for your conduct and your data related to the Service. You agree to indemnify, defend, and hold harmless HubYard and its suppliers from any and all loss, cost, liability, and expense arising from or related to your data, your use of the Service, or your violation of these terms.
            p The Software and Service are made available to you, your company, and/or your customers only for personal or commercial use, which use must be in compliance with all applicable laws, rules and regulations and must not infringe or violate third party rights.
            p Any unauthorized use of any HubYard Service is a violation of this Agreement and certain federal and state laws. Such violations may subject the unauthorized user and his or her agents to civil and criminal penalties.
            h2 Appropriate Practices
            p HubYard reserves the right to terminate any account that it finds in violation of its Terms of Use by receiving abuse complaints higher than allowed, without refund.
            h2 Federal Regulation Compliance
            p You are responsible for complying with the CAN-SPAM federal regulation. You are also responsible for supplying an Unsubscribe link in the event that your email is required to under the Federal CAN-SPAM regulation.
            h2 Fees and Payment
            p HubYard will not issue refunds for unused service at any times. Users are able to opt-in to recurring billing at a level set by the user. At the end of the contract term, the contract will automatically renew indefinitely until explicitly cancelled by the user. Services invoices will not be transmitted automatically, but will be provided in PDF format upon request from our support department.
            p Cancellation must be issued via the Service. Any cancellation issued must be done three (3) days prior to the end of the contract term to allow for adequate processing time.
            h2 Chargeback / Refund Policy
            p HubYard will not, under any circumstances, issue cash refunds for early contract cancellation. If you have a question about charges made to your account, please contact us immediately. If the charges were made in error, we will credit your account or credit card account for the appropriate amount. HubYard has a zero tolerance policy for chargebacks. Any customer who disputes a credit card payment that is found to be valid will be permanently banned from use of the HubYard. Any past due fees and costs will be sent to collections. If our collection efforts fail, unpaid debts will be reported to all available credit reporting agencies.
            h2 No Warranties or Representations
            p You understand and agree that the Service is provided "as is" and HubYard, its affiliates, suppliers and Resellers expressly disclaim all warranties of any kind, beyond the Refund, express or implied, including without limitation any warranty of merchantability, fitness for a particular purpose, non-infringement or bailment of your data on HubYard's servers. HubYard, its affiliates, suppliers and Resellers make no warranty or representation, other than the Refund, regarding the results that may be obtained from the use of the Service, the security of the Service, or that the Service will meet any user's requirements beyond the Refund. Use of the Service is at Your sole risk. You will be solely responsible for any damage to You resulting from the use of the Service. The entire risk arising out of use, security or performance of the Service remains with You. Without limiting the foregoing, the Service is not designed or licensed for use in hazardous environments requiring fail-safe controls, including without limitation operation of nuclear facilities, aircraft navigation/communication systems, air traffic control, pants-off-dance-offs, and life support or weapons systems.
            h2 Limitation of Liability
            p In no event shall HubYard be liable for any indirect, special, incidental, consequential or punitive damages (including but not limited to loss of use, loss of profits, or loss of data) whether in an action in contract, tort (including but not limited to negligence), equity or otherwise, arising out of or in any way connected with the use of or inability to use this site or the materials therein or resulting from unauthorized access to or alteration of data.
            h2 Termination of Service
            p We reserve the right to terminate your account at any time. You also have the option of canceling your account at any time without penalty. In the event of account cancellation you will lose all data related to Your account.
            h2 Conditions
            p We may modify or terminate our services at anytime, for any reason, and without notice. We reserve the right to modify these Terms of Service at any time without notice. Please review these Terms of Service on occasion as they may change in the future. We may, but have no obligation to, remove accounts and content containing what we determine as unlawful, offensive, threatening, defamatory, obscene or otherwise objectionable material. We will remove content that violates any party's intellectual property or these Terms of Service. An account terminated by HubYard will not be backed-up for any reason and will be immediately deleted from our servers.
            h2 Intellectual Property
            p HubYard claims no intellectual property rights over the material you provide to the Service. You acknowledge that HubYard owns all right, title and interest in and to the Service, including without limitation all intellectual property rights, and such rights are protected by U.S. and international intellectual property laws. You agree that you will not copy, reproduce, alter, modify, or create derivative works from the Service.
            h2 Contact
            p Users with questions about this Agreement or the Privacy Policy may contact HubYard at contact@hubyard.com
    include footer