.live_tut.tutorial_object.tutorial_1
    .overlay-arrow
    .overlay-item
        .tutorial-header Cool!
        .tutorial-text HubYard is really simple, all you need to do is first create a Canvas (where your feeds will be located)
        .tutoral-next(data-next='2') next
.live_tut.tutorial_object.tutorial_2
    .overlay-arrow
    .overlay-item
        .tutorial-header Networks!
        .tutorial-text Then you can add networks, like Twitter, Tumblr, or a Facebook Page.
        .tutoral-next(data-next='4') next
.live_tut.tutorial_object.tutorial_4
    .overlay-arrow
    .overlay-item
        .tutorial-header Networks! Cont.
        .tutorial-text Once added, just click the settings button!
        .tutoral-next(data-next='3') next
.live_tut.tutorial_object.tutorial_3
    .overlay-arrow
    .overlay-item
        .tutorial-header Final Step!
        .tutorial-text Finally you can add some feeds. <br><br> I hope you understood, now click done and try it yourself! :)
        .tutoral-next(data-next='done') done