.upgrade-overlay
    .upgrade-box
        .leave-upgrade.x x
        .upgrade-box-top
            .upgrade-header Sweet, it’s upgrade time!
            .upgrade-subheader <a style='font-weight:bold'>(save up to 50% in beta</a> and cancel and downgrade at any time)
        .upgrade-mid
            .upgrade-toggle
                .upgrade-toggle-option(style='border-radius:2px 0px 0px 2px;') Monthly Billing
                .upgrade-toggle-option.selected(style='border-radius:0px 2px 2px 0px;') Yearly Billing
            .clear
        .upgrade-options
            .upgrade-option(style='border-right:0px;')
                .upgrade-option-header Enthusiast
                .upgrade-items
                    .upgrade-item(style='font-weight:bold') 5 Networks
                    .upgrade-item 2 Canvases
                    .upgrade-item 5 News/RSS Feeds
                    .upgrade-item No Team Members
                    .upgrade-item Limited Support
                .upgrade-cost $0 /mon
                -if(udata.user_status === 'enthusiast'){
                    .current-plan Current Plan
                -} else {
                    .upgrade-done(data-type='enthusiast' data-payment='Are you sure? This will reset your networks and canvases!')  Choose Plan
                -}
            .upgrade-option.upgrade-yearly
                .upgrade-option-header Entrepeneur Beta
                .upgrade-items
                    .upgrade-item(style='font-weight:bold') 25 Networks
                    .upgrade-item 5 Canvases
                    .upgrade-item 25 News/RSS Feeds
                    .upgrade-item 5 Team Members
                    .upgrade-item(style='font-weight:bold') Priority Support
                .upgrade-cost $13 /mon
                -if(udata.user_status === 'entrepreneurbetayearly'){
                    .current-plan Current Plan
                -} else {
                    .button-line.upgrade-done(data-type='entrepreneurbetayearly' data-payment='You will be immediately charged US$156 Annually')  Choose Plan
                -}
            .upgrade-option.upgrade-monthly
                .upgrade-option-header Entrepeneur Beta
                .upgrade-items
                    .upgrade-item(style='font-weight:bold') 25 Networks
                    .upgrade-item 5 Canvases
                    .upgrade-item 25 News/RSS Feeds
                    .upgrade-item 5 Team Members
                    .upgrade-item(style='font-weight:bold') Priority Support
                .upgrade-cost $15 /mon
                -if(udata.user_status === 'entrepreneurbetamonthly'){
                    .current-plan Current Plan
                -} else {
                    .button-line.upgrade-done(data-type='entrepreneurbetamonthly' data-payment='You will be immediately charged US$15 Monthly')  Choose Plan
                -}
            .upgrade-option.upgrade-yearly
                .upgrade-option-header Awesome Beta Plan!
                .upgrade-items
                    .upgrade-item(style='font-weight:bold') 12 Networks
                    .upgrade-item 5 Canvases
                    .upgrade-item 15 News/RSS Feeds
                    .upgrade-item 2 Team Members
                    .upgrade-item(style='font-weight:bold') Priority Support
                .upgrade-cost $5 /mon
                -if(udata.user_status === 'awesomebetayearly'){
                    .current-plan Current Plan
                -} else {
                    .button-line.upgrade-done.upgrade-done-normal(data-type='awesomebetayearly' data-payment='You will be immediately charged US$60 Annually')  Choose Plan
                -}
            .upgrade-option.upgrade-monthly
                .upgrade-option-header Awesome Beta Plan!
                .upgrade-items
                    .upgrade-item(style='font-weight:bold') 12 Networks
                    .upgrade-item 5 Canvases
                    .upgrade-item 15 News/RSS Feeds
                    .upgrade-item 2 Team Members
                    .upgrade-item(style='font-weight:bold') Priority Support
                .upgrade-cost $8 /mon
                -if(udata.user_status === 'awesomebetamonthly'){
                    .current-plan Current Plan
                -} else {
                    .button-line.upgrade-done.upgrade-done-normal(data-type='awesomebetamonthly' data-payment='You will be immediately charged US$8 Monthly')  Choose Plan
                -}
.upgrade-finish-overlay
    .overlay-update-black
        .upgrade-finish-box
            .sweet-top Sweet! Confirm your purchase!
            .purchase-final
            .final-decision
                .button-line.upgrade-finish Upgrade! :)
                .button-nevermind Nevermind
.overlay-update-card
    .overlay-update-black
        .update-card-container.upgrade-box
            .x x
            .upgrade-box-top(style='border-bottom: 1px solid rgba(0, 0, 0, 0.1)')
                .upgrade-header Update your card!
                .upgrade-subheader.payment-errors
            .update-card.post-card   
                .centralism(style='width:80%; margin:0 auto; padding:15px;')
                    .update-card-split(style='width:80%')
                        .update-card-option
                            .settings-block-input-name Card Number
                        .update-card-option
                            input.settings-block-input.card-number( autocomplete="off" type='text' placeholder='Card Number')
                    .update-card-split(style='width:20%')
                        .update-card-option
                            .settings-block-input-name Security Code
                        .update-card-option
                            input.settings-block-input.card-cvc(autocomplete="off" placeholder='Code' type='text' maxlength="5" )
                .clear
                .centralism(style='width:50%; margin:0 auto; padding:15px; text-align:center')
                    .update-card-split(style='width:50%')
                        .update-card-option
                            .settings-block-input-name Expiry Month
                            input.settings-block-input.card-expiry-month(autocomplete="off" placeholder='ex: 05' type='text' maxlength="2" style='text-align:center')
                    .update-card-split(style='width:50%')
                        .update-card-option
                            .settings-block-input-name Expiry Year
                            input.settings-block-input.card-expiry-year(autocomplete="off" placeholder='ex: 2015' type='text'  maxlength="4" style='text-align:center')
                    .clear    
                .update-card-option(style='text-align: center;')
                    .settings-block-input-name.final-purchase
                    button.button-line.overlay-block-button.save-billing(style='background:#F26D7D;' data-go='normal') Update Credit Card